#Allure
allure-results

#Credential
*.tmp

#.env
#*.env.swp
#.env

# Maven
target
.factorypath

# TestNG
test-output
report

# Eclipse
.metadata
.settings
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Windows
RemoteSystemsTempFiles

# Mac
.DS_Store
/bin/

# VS Code
.vscode/

results
script.mjs
.cucumber+

## Archivos no modificar
src/test/java/integration/IntegrationTest.java
src/test/java/integration/helpers/DP/DataProviders.java
src/test/java/integration/helpers/DB/DbUtils.java
src/test/java/integration/listener/CustomListener.java
src/test/java/data-provider.js
src/test/java/karate-config.js
src/test/resources/azure_integration.properties
src/test/resources/gatling.conf
pom.xml
results
.github/workflows
logs


